.menu-burger {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100px;
    z-index: 20;
    height: 0 !important;    
}

.menu-burger__content {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    position: fixed;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(0, -100%);
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    height: fit-content !important;
}


._active{
    opacity: 1;
    transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
}

.burger-menu__item {
    width: 300px;
    color: #29262F;
    background: #CDDEF4;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.burger-menu__item:not(:first-child) {
    border-top: 1px #29262F solid;
}

.burger-menu__item:hover {
    background: #98a8bd;
}


.burger-menu__item:active {
    background: #6a94cc;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}


/* Media queries */

@media screen and (max-width: 460px) {
    .burger-menu__item {
        width: 100%;
    }

    .menu-burger__content {
        width: 100vw;
        left: 0;
        padding: 0;
        height: fit-content;
        height: calc(100vh - 100px) !important;
        overflow: auto;
    }
}

@media screen and (min-width: 765px){
    .menu-burger__content {
        display: none !important;
    }
}
